 <html>
        <head>
            <title>Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="https://foroalfa.org/articulos/no-se-queje-resuelva">link/a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Cuando cambiamos la queja por la acción, modificamos nuestro enfoque. Convertimos la sensación de impotencia en capacidad de resolver, mediante la toma de control de la situación. Convertimos aquello que no controlamos en controlable. Y al convertirlo en controlable, podemos actuar. Dejamos de lado la creencia en impotencia para empoderarnos.</p>
            </div>
        </body>
    </html>